.tjs-disturber {
    @include element-to-element-margin-small;

    height: rem(45px);
    font-size: rem(20px);
    background: #263238;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        text-align: center;

        p {
            margin: 0;
            color: $white;
        }
    }

    &.mobile {
        height: auto;

        .tjs-disturber {
            &__content {
                max-width: 80vw!important;
                padding: rem(10px) 0;
            }
        }
    }
}
