.btn-primary {
    color: $white!important;
}

.btn {
    padding: rem(14px) rem(37px)!important;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    @include media-breakpoint-up("xl") {
        padding: 0 rem(115px)!important;
    }
}
